In [1]:
print 'hello world'

hello world

In [2]:
print 'Shift+Enter will run a cell'

Shift+Enter will run a cell

In [3]:
l=[1,2,3]

In [4]:
help(l)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(...)
 |      x.__add__(y) <==> x+y
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x
 |
 |  __delitem__(...)
 |      x.__delitem__(y) <==> del x[y]
 |
 |  __delslice__(...)
 |      x.__delslice__(i, j) <==> del x[i:j]
 |
 |      Use of negative indices is not supported.
 |
 |  __eq__(...)
 |      x.__eq__(y) <==> x==y
 |
 |  __ge__(...)
 |      x.__ge__(y) <==> x>=y
 |
 |  __getattribute__(...)
 |      x.__getattribute__('name') <==> x.name
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __getslice__(...)
 |      x.__getslice__(i, j) <==> x[i:j]
 |
 |      Use of negative indices is not supported.
 |
 |  __gt__(...)
 |      x.__gt__(y) <==> x>y
 |
 |  __iadd__(...)
 |      x.__iadd__(y) <==> x+=y
 |
 |  __imul__(...)
 |      x.__imul__(y) <==> x*=y
 |
 |  __init__(...)
 |      x.__init__(...) initializes x; see help(type(x)) for signature
 |
 |  __iter__(...)
 |      x.__iter__() <==> iter(x)
 |
 |  __le__(...)
 |      x.__le__(y) <==> x<=y
 |
 |  __len__(...)
 |      x.__len__() <==> len(x)
 |
 |  __lt__(...)
 |      x.__lt__(y) <==> x<y
 |
 |  __mul__(...)
 |      x.__mul__(n) <==> x*n
 |
 |  __ne__(...)
 |      x.__ne__(y) <==> x!=y
 |
 |  __repr__(...)
 |      x.__repr__() <==> repr(x)
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(...)
 |      x.__rmul__(n) <==> n*x
 |
 |  __setitem__(...)
 |      x.__setitem__(i, y) <==> x[i]=y
 |
 |  __setslice__(...)
 |      x.__setslice__(i, j, y) <==> x[i:j]=y
 |
 |      Use  of negative indices is not supported.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -- append object to end
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(cmp=None, key=None, reverse=False) -- stable sort *IN PLACE*;
 |      cmp(x, y) -> -1, 0, 1
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None
 |
 |  __new__ = <built-in method __new__ of type object>
 |      T.__new__(S, ...) -> a new object with type S, a subtype of T

In [7]:
###fgfdgdfgfd

In [11]:
pwd

u'C:\\Users\\gpipis'

In [12]:
s='Hello'

In [13]:
s

'Hello'

In [14]:
s.split('e')

['H', 'llo']

In [15]:
s

'Hello'

In [16]:
l=[1,2,3]

In [17]:
l.pop()

3

In [20]:
l

[1, 2]

In [21]:
x=l.pop(0)

In [22]:
x

1

In [23]:
l

[2]

In [24]:
l=[1,2,3]

In [25]:
x=l.pop(0)

In [26]:
x

1

In [27]:
l

[2, 3]

In [28]:
l=[1,2,3]

In [29]:
l.pop(0)

1

In [30]:
lst=[1,2,3]

In [31]:
lst.pop()

3

In [32]:
f=open('test.txt')

In [33]:
f.read()

'this is a test line'

In [34]:
f.read()

''

In [35]:
f.seek(0)

In [36]:
f.read()

'this is a test line'

In [37]:
f.readlines()

[]

In [38]:
f.seek(0)

In [39]:
f.readlines()

['this is a test line']

In [40]:
f.readlines()

[]

In [42]:
%%writefile new.txt
First line
Second line

Writing new.txt

In [44]:
for line in open('new.txt'):
    print line

First line

Second line

In [45]:
x=set()

In [46]:
x.add(1)

In [47]:
x.add(2)

In [48]:
x

{1, 2}

In [49]:
l=[1,1,1,1,3,3,3,2,2,2,2]

In [50]:
set(l)

{1, 2, 3}

In [51]:
###booleans

In [52]:
a=TRUE

NameError: name 'TRUE' is not defined

In [53]:
a=True

In [54]:
b=None

In [55]:
b

In [56]:
b='a'

In [57]:
1<2<3

True

In [58]:
1<2 and 2<3

True

In [59]:
if True:
    print 'It was True'

It was True

In [60]:
x=False
if x:
    print 'x was True'
else:
    print 'Anything not True'

Anything not True

In [61]:
x=True
if x:
    print 'x was True'
else:
    print 'Anything not True'

x was True

In [62]:
l=[1,2,3,4,5]

In [63]:
for element in l:
    print element

1
2
3
4
5

In [64]:
#MODULO

In [65]:
10%3

1

In [66]:
18%7

4

In [68]:
for num in l:
    if num%2==0:
        print 'Here is an even'
    else:
        print 'Odd Number'

Odd Number
Here is an even
Odd Number
Here is an even
Odd Number

In [69]:
list_sum=0
for num in l:
    list_sum=list_sum+num
    
print list_sum

15

In [70]:
s='this is a string'

In [71]:
for item in s:
    print item

t
h
i
s

i
s

a

s
t
r
i
n
g

In [72]:
tup=(1,2,3,4,5)

In [73]:
for item in tup:
    print item

1
2
3
4
5

In [78]:
l=[(2,4),(6,8),(10,12)]

In [79]:
l

[(2, 4), (6, 8), (10, 12)]

In [80]:
l[0]

(2, 4)

In [81]:
l[0][0]

2

In [83]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [84]:
for (t1,t2) in l:
    print t1

2
6
10

In [85]:
d={'k1':1, 'k2':2, 'k3':3}

In [86]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [88]:
for item in d:
    print item

k3
k2
k1

In [89]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1

In [90]:
x=0

while x<10:
    print 'x is currently: ', x
    x=x+1

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9

In [91]:
x=0

while x<10:
    print 'x is currently: ', x
    x=x+1
else:
    print 'All Done!'

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9
All Done!

In [92]:
#break: breaks out of the cuurent closest enclosing loop
#continue: goes to the top of the closest enclosing loop
#pass:does nothing at all

In [93]:
x=0

while x<10:
    print 'x is currently: ', x
    print 'x us still less than 10, adding 1 to x'
    x+=1
    
    if x==3:
        print 'Hey x is equals 3!'
    else:
        print 'continuing...'
        continue

x is currently:  0
x us still less than 10, adding 1 to x
continuing...
x is currently:  1
x us still less than 10, adding 1 to x
continuing...
x is currently:  2
x us still less than 10, adding 1 to x
Hey x is equals 3!
x is currently:  3
x us still less than 10, adding 1 to x
continuing...
x is currently:  4
x us still less than 10, adding 1 to x
continuing...
x is currently:  5
x us still less than 10, adding 1 to x
continuing...
x is currently:  6
x us still less than 10, adding 1 to x
continuing...
x is currently:  7
x us still less than 10, adding 1 to x
continuing...
x is currently:  8
x us still less than 10, adding 1 to x
continuing...
x is currently:  9
x us still less than 10, adding 1 to x
continuing...

In [94]:
start=5
stop=20
range(start, stop)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [95]:
start=5
stop=20
range(start, stop, 3)

[5, 8, 11, 14, 17]

In [96]:
for num in range(1,6):
    print num

1
2
3
4
5

In [97]:
for num in xrange(1,6):
    print num

1
2
3
4
5

In [98]:
l=[]

for letter in 'word':
    l.append(letter)
    print l
    
print l

['w']
['w', 'o']
['w', 'o', 'r']
['w', 'o', 'r', 'd']
['w', 'o', 'r', 'd']

---List Comprehensions

In [99]:
l=[letter for letter in 'word']

In [100]:
l

['w', 'o', 'r', 'd']

In [102]:
lst=[x**2 for x in range(0,11)]

In [103]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [104]:
lst=[number for number in range(11) if number%2==0]

In [105]:
lst

[0, 2, 4, 6, 8, 10]

In [106]:
lst=[]

for number in range(11):
    if number%2==0:
        lst.append(number)

In [107]:
lst

[0, 2, 4, 6, 8, 10]

In [108]:
celsius=[0,10,20.1,34.5]

fahrenheit=[(temp*(9/5.0)+32) for temp in celsius]

In [109]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [112]:
###nested final result is x**4 for num in range(11)
lst=[x**2 for x in [x**2 for x in range(0,11)]]

In [113]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

# Assessment

In [114]:
st='Prnit only the words that start with s in this sentence'

In [117]:
for word in st.split():
    if word[0]=='s':
        print word

start
s
sentence

In [120]:
##use range() to prrint all the even numbers form 0 to 10
range(0,11,2)

[0, 2, 4, 6, 8, 10]

In [121]:
##use list comprehension to create a list of all numbers between 1 and 50 that are divisible by 3
[x for x in range(50) if x%3==0]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [122]:
for word in st.split():
    if len(word)%2==0:
        print word+"<--has an even length!"

only<--has an even length!
that<--has an even length!
with<--has an even length!
in<--has an even length!
this<--has an even length!
sentence<--has an even length!

In [123]:
st='Create a list of the first letters of every word in this string'

In [124]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [125]:
###Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz"
###instead of the number, and for the multiples of five print "Buzz". 
###For numbers which are multiples of both three and five print "FizzBuzz".

In [126]:
for num in xrange(1,101):
    if num % 5 == 0 and num % 3 == 0:
        print "FizzBuzz"
    elif num % 3 == 0:
        print "Fizz"
    elif num % 5 == 0:
        print "Buzz"
    else:
        print num

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# Methods

In [127]:
l=[1,2,3,4,5]
l.append(6)
l

[1, 2, 3, 4, 5, 6]

# Functions

In [128]:
def name_of_function():
    pass

In [132]:
name_of_function()

In [133]:
def my_addition_func(arg1, arg2):
    print arg1+arg2

In [134]:
my_addition_func(1,2)

3

In [136]:
def is_prime(num):
    """
    INPUT: A number
    OUTPUT:is prime?
    """
    for n in range(2,num):
        if num%n==0:
            print 'Not Prime'
            break
    else:
        print 'Prime'

In [137]:
is_prime(12)

Not Prime

In [138]:
is_prime(6)

Not Prime

# Lambda Expressions

In [139]:
def square(num):
    result=num**2
    return result

In [140]:
square(2)

4

In [141]:
def square(num):
    return num**2

In [142]:
square(2)

4

In [143]:
def square(num): return num**2

In [144]:
square(3)

9

In [149]:
square=lambda num: num**2

In [150]:
square(3)

9

In [151]:
even=lambda num: num%2==0

In [152]:
even(4)

True

In [153]:
# grabs the first character of a string

In [154]:
first=lambda s: s[0]

In [155]:
first('Hello')

'H'

In [156]:
rev= lambda s:s[::-1]

In [157]:
rev('hello')

'olleh'

In [158]:
adder=lambda x,y:x+y

In [159]:
adder(5,6)

11

# Functions and Methods Homework

In [1]:
def vol(rad):
    return (4.0/3)*(3.14)*(rad**3)

In [2]:
vol(2)

33.49333333333333

In [9]:
##write a function that checks if a number is in a given range

def ran_check(num, low, high):
    if num in range(low, high):
        print "%s is in the range" %str(num)
    else:
        print "The number is outside the range"

In [10]:
ran_check(5,1,6)

5 is in the range

In [11]:
def ran_bool(num, low, high):
    return num in range(low,high)

In [12]:
ran_bool(3,1,10)

True

In [13]:
###Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters

def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print "Original String: ", s
    print "No. of Upper case characters: ", d["upper"]
    print "No. of Lower case characters: ", d["lower"]

In [14]:
s='Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String:  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters:  4
No. of Lower case characters:  33

In [16]:
###Write a Python function that takes a list and returns a new list with the unique elemens of the first list

def unique_list(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)
    return(x)

In [17]:
unique_list([1,1,1,1,1,1,2,2,2,2,3,3,3,4,4,5])

[1, 2, 3, 4, 5]

In [19]:
###Write a function to multiply all the numbers in the a list
def multiply(numbers):
    total=numbers[0]
    for x in numbers:
        total*=x
    return total

In [20]:
multiply([1,2,3,-4])

-24

In [21]:
##Write a function that checks where a passed string is a palindrome or not
def palindrome(s):
    return s==s[::-1]

In [22]:
palindrome('helleh')

True

In [24]:
palindrome('nursesrun')

True

In [25]:
##write a function to check whether a string is pangram or not

import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset=set(alphabet)
    return alphaset<=set(str1.lower())

In [26]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [27]:
str1="The quick brown fox jumps over the lazy dog"

In [28]:
set(str1.lower())

{' ',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [29]:
str1

'The quick brown fox jumps over the lazy dog'

In [30]:
alphabet=string.ascii_lowercase
alphaset=set(alphabet)

In [31]:
alphabet

'abcdefghijklmnopqrstuvwxyz'

In [32]:
alphaset

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [39]:
alphaset<=set(['a',2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30])

False

In [41]:
type(alphaset)

set